<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Movies</a></li>
        <li><a routerLink="/home/celebs">Celebrities</a></li>
        <li><a routerLink="/watchList">WatchList</a></li>
        <!-- <li><a routerLink="/tvShows">TV Shows</a></li> -->
      </ul>
      <!-- <form class="navbar-form navbar-right">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            name="search"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form> -->
    </div>
  </div>
</nav>
