<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="showSuccess" class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        <strong>{{ message }}</strong>
      </div>

      <div *ngIf="showError" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        <strong>{{ message }}</strong>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="movieForm" (submit)="onAddMovie()">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="moviename">Movie Name:</label>
        <input
          class="form-control"
          formControlName="moviename"
          placeholder="Movie Name"
          id="moviename"
        />
      </div>
      <div class="form-group">
        <label for="year">Year Of Release:</label>
        <input
          class="form-control"
          type="text"
          placeholder="Year Of Release"
          formControlName="year"
          id="year"
        />
      </div>
      <div class="form-group">
        <label for="plot">Plot:</label>
        <textarea
          class="form-control"
          rows="5"
          formControlName="plot"
          id="plot"
          class="form-control"
          placeholder="Description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="sel1">Select Cast:</label>
        <div
          style="width : 300px; height : 150px; overflow:scroll;overflow-x: hidden"
        >
          <ul>
            <li *ngFor="let cast of casts">
              <div class="checkbox">
                <label
                  ><input
                    type="checkbox"
                    [value]="cast.name"
                    (change)="getCastDetail(cast.name)"
                  />{{ cast.name }}</label
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-info " (click)="openModal()">
        Add Cast
      </button>

      <br />
      <p><br /></p>
      <button class="btn btn-primary btn-lg" type="submit">Add Movie!</button>
    </div>
    <div class="col-md-3"></div>
  </div>
</form>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onCloseHandled()"
        >
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Add Cast</h4>
      </div>

      <div class="modal-body">
        <form [formGroup]="castForm" (submit)="onAddCast()">
          <div class="form-group">
            <input type="text" placeholder="Name" formControlName="name" />
          </div>

          <div class="form-group">
            <label class="radio-inline">
              <input
                type="radio"
                value="Male"
                checked
                formControlName="gender"
              />Male
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                value="Female"
                formControlName="gender"
              />Female
            </label>
            <label class="radio-inline">
              <input type="radio" value="Other" formControlName="gender" />Other
            </label>
          </div>

          <div class="form-group">
            <label for="bio">Bio:</label>
            <textarea
              class="form-control"
              rows="5"
              formControlName="bio"
              id="bio"
              class="form-control"
              placeholder="Bio"
            ></textarea>
          </div>

          <p><br /></p>
          <button type="submit" [disabled]="!castForm.valid">Add Cast!</button>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          (click)="onCloseHandled()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->
