<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="showSuccess" class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        <strong>{{ message }}</strong>
      </div>

      <div *ngIf="showError" class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        <strong>{{ message }}</strong>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="movieForm" (submit)="onEditMovie()">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="moviename">Movie Name:</label>
        <input
          class="form-control"
          formControlName="moviename"
          placeholder="Movie Name"
          id="moviename"
        />
      </div>
      <div class="form-group">
        <label for="year">Year Of Release:</label>
        <input
          class="form-control"
          type="text"
          placeholder="Year Of Release"
          formControlName="year"
          id="year"
        />
      </div>
      <div class="form-group">
        <label for="plot">Plot:</label>
        <textarea
          class="form-control"
          rows="5"
          formControlName="plot"
          id="plot"
          class="form-control"
          placeholder="Description"
        ></textarea>
      </div>

      <p><br /></p>
      <button class="btn btn-primary" type="submit">Edit Movie!</button>
    </div>
    <div class="col-md-3"></div>
  </div>
</form>
