<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1 style="margin: 0">Top Movies Of {{ year }}</h1>
    </div>
    <div class="col-md-2">
      <button [routerLink]="['/addMovie']" class="btn btn-success">
        + Add Movie
      </button>
    </div>
  </div>
</div>

<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>Image</th>
            <th>Movie Name</th>
            <th>Year</th>
            <th>Plot</th>
            <th>Cast</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies; let i = index">
            <td>{{ i + 1 }}</td>
            <td>Movie Image</td>
            <td>{{ movie.moviename }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.plot }}</td>
            <td>
              <ul>
                <li *ngFor="let cast of movie.casts">
                  {{ cast }}
                </li>
              </ul>
            </td>
            <td>
              <button
                class="btn btn-primary"
                [routerLink]="['/home/edit/', movie._id]"
              >
                Edit
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="onDeleteMovie(movie._id)">
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
